:root {
  --background: #00234b;
  --violet-sky: #561631;
  --coral-sky: #d84637;
  --light-coral-sky: #fe7b51;
}

* {
  font-family: "Quicksand", sans-serif;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  width: fit-content;
}

body {
  background-color: whitesmoke;
  width: 100vw;
}

.container {
  display: block;
  max-width: 2400px;
  width: 80%;
  
  align-items: center;
  justify-content: center;
  margin: auto;
}

.main-index {
  background: url(/static/index-img.jpg);
  background-size: cover;
  color: whitesmoke;
}

.hr {
  border-color: var(--background);
}

h1 {
  font-family: "Sofia", cursive;
  text-align: center;
  margin-top: 1em;
  padding-bottom: 20px;
  padding-left: 6px;
  font-size: 2.5em;
}

h2 {
  text-align: center;
  font-size: 2em;
  margin: auto;
  margin-top: 1em;
}

h3 {
  font-size: 1.4em;
  padding-top: 16px;
}

.logo {
  padding: 10px;
  margin-left: 10px;
}

a {
  padding: 10px;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1em;
  color: var(--background);
}

p {
  padding: 15px 10px;
  font-size: 1.2em;
  color: var(--background);
}

li {
  padding: 5px 40px;
  margin: 0.5em;
  font-size: 1.2em;
}

button {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  font-size: 1.1em;
  margin-top: 50px;
  margin-bottom: 40px;
  font-weight: bold;
}

.separator-joker {
  display: flex;
  justify-content: center;
  font-size: 3em;
}

#main-index > .nav-container a {
  color: rgb(194, 194, 194);
}

@media screen and (max-width: 700px) {
  body {
    width: 100%;
  }

  h1 {
    font-size: 2.7em;
  }

  p {
    font-size: 1.6em;
  }

  li {
    font-size: 1.5em;
  }

}
